.main {
  padding: 0 63% 100px 0;
  background: url(img/Frame.svg) no-repeat top right;
}

.main__title {
  font: bold 50px/65px 'pt_serif', helvetica, arial;
  margin: 0 0 40px 0;
}

.main__subtitle {
  font: 18px/21px 'Roboto', helvetica, arial;
  margin: 0 0 41px 0;
}

.main__button {
  font: 14px/16px 'Roboto', helvetica, arial;
  padding: 14px 16px;
  display: inline-block;
  color: #fff;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo, .menu {
  display: inline-block;
  padding: 40px 0;
}

.logo {
  position: relative;
  padding-left: 44px;
  font: bold 24px/31px 'pt_serif', helvetica, arial;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.menu__item {
  margin-right: 26px;
  font: 500 18px/21px 'Roboto', helvetica, arial, sans-serif;
  color: #000;
  text-decoration: none;
  position: relative;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}
