.main-content__title {
  font-family: Roboto;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo, .menu {
  display: inline-block;
  border: dashed 1px red;
  padding: 40px 0;
}

.logo {
  position: relative;
  padding-left: 44px;
  font: bold 24px/31px 'pt_serif', helvetica, arial;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border: dashed 1px red;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.menu__item {
  margin-right: 26px;
  border: dashed 1px red;
  font: 500 18px/21px 'Roboto', helvetica, arial, sans-serif;
  color: #000;
  text-decoration: none;
  position: relative;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}
